.footer{
Width:100%;
height:auto;
Background-color:rgb(89,145,145);
padding:50px;}

body{
padding:20px;
margin:2px;}

table,th,td{
border:2px solid black;
border-collapse:collapse;
text-align:centre;
Width:100%;
vertical-align:centre;
padding:5px;}
tr:nth-child(even){background-color:#DCDCDC;
}

tr:hover{
Background-color:rgb(114,145,145);}
th{background-color:rgb(97,145,145);
color:#000;
height:100%;
text-align:left;}
caption{font-weight:bold;
}

#header{
Background-color:rgb(89,145,145);
width:100%;
height:auto;
font-weight:bold;
font-size:60px;
letter-spacing:-4px;
padding:75px;
}

.D{
font-size:40px;}